* {
  margin: 0;
}

body {
  background-color: #f5f6fa
}

.App {
  display:flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__header > h1 {
  color: red;
  font-size: 2rem;
}

.app__dropdown {
  background-color: #ffffff;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__left {
  flex: 0.9;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}